rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // TEMP DEV RULE: allow all uploads & downloads
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
