@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 20% 97%;
    --foreground: 220 12% 10%;
    --card: 0 0% 100%;
    --card-foreground: 220 12% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 12% 10%;
    --primary: 197 78% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 220 12% 10%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 45%;
    --accent: 291 64% 42%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 89%;
    --input: 220 13% 89%;
    --ring: 197 78% 53%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 220 12% 10%;
    --sidebar-primary: 197 78% 53%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 220 13% 91%;
    --sidebar-accent-foreground: 220 12% 10%;
    --sidebar-border: 220 13% 89%;
    --sidebar-ring: 197 78% 53%;
  }

  .dark {
    --background: 220 13% 10%;
    --foreground: 0 0% 98%;
    --card: 220 13% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 220 13% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 197 78% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 13% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 13% 18%;
    --muted-foreground: 220 5% 64%;
    --accent: 291 64% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 18%;
    --input: 220 13% 18%;
    --ring: 197 78% 53%;
    --sidebar-background: 220 13% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 197 78% 53%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 220 13% 18%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 13% 18%;
    --sidebar-ring: 197 78% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
